# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mysql://patrick:22041985@localhost:3306/api"  
JWT_SECRET = "oCeo!0pb1Ka1.3!LZx]ZKsLB9hEPKlM<"

ENV = 'Development'


DB_USERNAME = 'UsuarioDoBanco'
DB_PASSWORD = 'SenhaDoBanco'
DB_DATABASE = 'NomeDoBanco'
DB_HOST = 'EnderecoBanco'
DB_PORT = 'Porta'    